<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Crash course</title>

    <style>
        body {
            background-color: royalblue;
        }

        .heading {
            font-size: 45px;
            font-style: normal;
            font-family: monospace;
            font-weight: bolder;
            color: bisque;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1 class="heading">
        <!-- use locals to prevent error -->
        Hello Welcome To the <%= locals.serverType ?? "Node Js" %> Server
    </h1>
</body>

</html>